.fav {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: start;
  margin: 3rem auto 0;
  width: 90%;
}

.empty {
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
