.homepage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.search {
  display: flex;
  margin: 1rem auto 0;
  width: 85%;
}

.sort {
  display: flex;
  margin: 1rem auto 0 8%;
  align-items: center;
  gap: 0.5rem;
  h4 {
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: nowrap;
  width: 90%;
  margin: 1rem auto 0;
}

.book {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.empty {
  position: relative;
  flex-direction: column;
  display: flex;
  top: 30%;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
