.detail {
  display: flex;
  justify-content: center;
}

.detailContent {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem auto 3rem;
  .detailBtn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: end;
  }
}

.reviewBtn {
  display: flex;
  justify-self: end;
}

.review {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  span {
    width: 70%;

    p {
      margin-bottom: 0;
    }
    h4 {
      margin: 0;
    }
  }
}

.alert {
  display: flex;
}
